<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="home">Superhero App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

        </ul>
    </div>
    <input class="form-control mr-sm-2" style="width: 300px;" type="text" placeholder="Buscar" aria-label="Search" [(ngModel)]="searchData">
    <button class="btn btn-outline-success my-2 my-sm-0" (click)="search()">Buscar</button>
</nav>

